<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mall.account.dal.dao.UserInfoDAO">

    <resultMap id="userInfoMap" type="com.mall.account.dal.dataobject.UserInfoDO">
        <id column="id" property="id"/>
        <result column="uid" property="userId"/>
        <result column="nickname" property="nickName"/>
        <result column="head" property="head"/>
        <result column="gender" property="gender"/>
        <result column="role" property="role"/>
        <result column="birthday" property="birthday"/>
        <result column="signature" property="signature"/>
        <result column="feature" property="feature"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>

    <sql id="userInfo_column">
        uid, nickname, head, gender, role, birthday, signature, feature
    </sql>

    <sql id="userInfo_column_all">
        id, <include refid="userInfo_column"/>, create_time, update_time
    </sql>

    <select id="getByUserId" parameterType="Long" resultMap="userInfoMap">
        SELECT
            <include refid="userInfo_column_all"/>
        FROM
            user_info
        WHERE
            uid = #{userId}
    </select>

    <select id="getById" parameterType="Long" resultMap="userInfoMap">
        SELECT
            <include refid="userInfo_column_all"/>
        FROM
            user_info
        where
            id = #{id}
    </select>

    <insert id="create" parameterType="com.mall.account.dal.dataobject.UserInfoDO"
            useGeneratedKeys="true" keyProperty="id">
        INSERT INTO user_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            uid,
            <if test="nickName != null">
                nickname,
            </if>
            <if test="head != null">
                head,
            </if>
            <if test="gender != null">
                gender,
            </if>
            <if test="birthday != null">
                birthday,
            </if>
            <if test="signature != null">
                signature,
            </if>
            <if test="feature != null">
                feature,
            </if>
            role,create_time,update_time
        </trim>
        <trim prefix="value (" suffix=")" suffixOverrides=",">
            #{userId},
            <if test="nickName != null">
                #{nickName},
            </if>
            <if test="head != null">
                #{head},
            </if>
            <if test="gender != null">
                #{gender},
            </if>
            <if test="birthday != null">
                #{birthday},
            </if>
            <if test="signature != null">
                #{signature},
            </if>
            <if test="feature != null">
                #{feature},
            </if>
            0, now(), now()
        </trim>
    </insert>

    <update id="update" parameterType="com.mall.account.dal.dataobject.UserInfoDO">
        UPDATE user_info
        <set>
            <if test="userId != null">
                uid = #{userId},
            </if>
            <if test="nickName != null">
                nickname = #{nickName},
            </if>
            <if test="head != null">
                head = #{head},
            </if>
            <if test="gender != null">
                gender = #{gender},
            </if>
            <if test="birthday != null">
                birthday = #{birthday},
            </if>
            <if test="signature != null">
                signature = #{signature},
            </if>
            <if test="feature != null">
                feature = #{feature},
            </if>
            <if test="role != null">
                role = #{role},
            </if>
            update_time = now()
        </set>
        WHERE
          id = #{id}
    </update>

</mapper>