<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mall.account.dal.dao.UserRecvAddressDAO">

    <resultMap id="userRecvAddressMap" type="com.mall.account.dal.dataobject.UserRecvAddressDO">
        <id column="id" property="id"/>
        <result column="uid" property="userId"/>
        <result column="name" property="name"/>
        <result column="phone" property="phone"/>
        <result column="province" property="province"/>
        <result column="city" property="city"/>
        <result column="region" property="region"/>
        <result column="detail_address" property="detailAddress"/>
        <result column="feature" property="feature"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>

    <sql id="userRecvAddr_column">
        uid, `name`, phone, province, city, region, detail_address, feature
    </sql>

    <sql id="userRecvAddr_column_all">
        id, <include refid="userRecvAddr_column"/>, create_time, update_time
    </sql>

    <select id="getById" parameterType="Long" resultMap="userRecvAddressMap">
        SELECT
            <include refid="userRecvAddr_column_all"/>
        FROM
            receive_address
        where
            id = #{id}
    </select>

    <insert id="create" parameterType="com.mall.account.dal.dataobject.UserRecvAddressDO"
            useGeneratedKeys="true" keyProperty="id">
        INSERT INTO receive_address
        <trim prefix="(" suffix=")" suffixOverrides=",">
            uid, `name`, phone, province, city, region, detail_address,
            <if test="feature != null">
                feature,
            </if>
            create_time, update_time
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            #{userId}, #{name}, #{phone}, #{province}, #{city}, #{region}, #{detailAddress},
            <if test="feature != null">
                #{feature},
            </if>
            now(), now()
        </trim>
    </insert>

    <update id="update" parameterType="com.mall.account.dal.dataobject.UserRecvAddressDO">
        UPDATE receive_address
        <set>
            <if test="name != null">
                `name` = #{name},
            </if>
            <if test="phone != null">
                phone = #{phone},
            </if>
            <if test="province != null">
                province = #{province},
            </if>
            <if test="city != null">
                city = #{city},
            </if>
            <if test="region != null">
                region = #{region},
            </if>
            <if test="detailAddress != null">
                detail_address = #{detailAddress},
            </if>
            <if test="feature != null">
                feature = #{feature},
            </if>
            update_time = now()
        </set>
        WHERE
            id = #{id}
    </update>


</mapper>